<!DOCTYPE html>
<html lang="en">
<header>
</header>
    <meta charset="UTF-8">
<body>
    <p>Hi,
    <br>
    <br>
    The pipeline is going to deploy the following changes to the infrasutructure. If you have any concern, please abort the pipeline.
    </p>
    <br>
    <!-- Here is terraform plan output -->
    {{ terrafrom_plan_html }}
    <br>
    <p> Regards
    <br>
    Operation team
    </p>
    </body>
</html>
